extends ./shared/common
block content
  div.alert.alert-danger 
      h4.alert-heading Error! Can not found the user.
      p Please back to users page and try again
        a.ml-1(href='/users') Users 